/* navigation bar */

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

#nav{
    background-color: #1F2937;
    padding: 20px 0px;
}
.nav{
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
}

.nav .logo{
    font-size: 24px;
    color: #F9FAF8; 
}

.navbar ul {
    display: flex;
}

.navbar ul li{
    margin: 15px;
    list-style: none;
    color: blue;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EE;
}

/* .nav head */

.head{
    display: flex;
    justify-content: space-evenly;
    margin: 25px auto;
    margin-bottom: 40px;
}

.head-content{
    margin: 10px;
    width: 400px;
}

.head-content h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    width: 400px;
}

.head-content p{
    font-size: 18px;
    color: #E5E7EE;
}

.head img{
    margin: 15px;
}

.head-content button{
    font-size: 18px;
    background-color: #3882f6;
    border: none;
    padding: 8px 25px;
    margin: 10px 0;
    border-radius: 4px;
    color: white;
}


/* Section */


section{
    margin: 15px 0px;
}

section div h1{
    text-align: center;
    margin: 20px 0;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

section .section-content{
    display: flex;
    justify-content: center;
    align-items: center;

}

.section-content .img-container{
    margin: 30px 25px;
}

section .content{
    border: 3px solid blue;
    border-radius: 15px;
    height: 150px;
    width: 150px;
    margin: 5px 0px;
}

.img-container p{
    text-align: center;
    width: 140px;
}


/* QuoteSection */

#quote {
    background-color: #E5E7EE;
    margin: 0px;
}

.quote {
    font-size: 36px;
    color:#1F2937;
    width: 800px;
    margin: 0 auto;
    margin-top: 30px; 
    padding: 50px;
}

.quote :nth-child(1){
    margin-top: 20px;
    font-style: italic; 
}

.quote :nth-child(2){
    margin: 20px;
    text-align: right;
}

.signup{
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.signup-container{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-evenly;
    color: white;   
    background-color: #3882f6;
    padding: 50px 35px;
    width: 65%;
    border-radius: 8px;
}

.text h3{
    font-size: 22px;
}

.text p{
    font-size: 19px;
}

.btn button{
    border: 3px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 0 18px;
    border-radius: 5px; 
    background-color: #3882f6;
    font-size: 16px;
    color: white;
}

.copyright{
    background-color: #1F2937;
    text-align: center;
    margin: 0;
    padding: 40px;
    font-size: 20px;
    color: white;
}